// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

$TextFont: "Montserrat", sans-serif;
$TitleFont: "Fraunces", serif;
$FontSize: 14px;

// Colors:
$Cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Blue: hsl(212, 21%, 14%);
$Gray: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

body {
  font-size: $FontSize;
  background-color: $Cream;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.component {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 610px;
  background-color: $White;
  border-radius: 8px;
}
.hero-image-mobile {
  border-radius: 8px 8px 0 0;
}
.hero-image-desktop {
  display: none;
}

.perfume {
  color: $Gray;
  letter-spacing: 0.5em;
  font-family: $TextFont;
  margin: 1em 0;
  font-size: 0.8em;
}

.text {
  height: 100%;
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text h1 {
  margin: 0;
  color: $Blue;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1em;
}
.text p {
  color: $Gray;
  font-family: $TextFont;
  line-height: 1.8em;
}

.price {
  display: inline-flex;
  align-items: center;
}

.price :nth-child(1) {
  color: $Cyan;
  font-family: $TitleFont;
  font-weight: 700;
  font-size: 2em;
}
.price :nth-child(2) {
  color: $Gray;
  font-family: $TextFont;
  font-weight: 500;
  font-size: 1em;
  text-decoration: line-through;
}
.price span {
  margin-right: 1em;
}

button {
  background-color: $Cyan;
  border: none;
  color: $White;
  font-family: $TextFont;
  font-weight: 700;
  border-radius: 8px;
  padding: 1.2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
button:hover {
  background-color: $Blue;
}

.footer {
  margin: 5rem 1em 0 1em;
  font-family: $TextFont;
  font-weight: 700;
  color: $Blue;
  text-align: center;
}

.footer a {
  color: $Cyan;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .component {
    flex-direction: row;
    width: 518px;
    height: 389px;
  }
  .hero-image-mobile {
    display: none;
  }
  .hero-image-desktop {
    display: block;
    border-radius: 8px 0 0 8px;
    max-width: 50%;
  }
  .text {
    background-color: $White;
    justify-content: space-between;
    height: 90%;
  }
  .text h1 {
    font-size: 2.2em;
  }
  .text p {
    font-size: 0.8em;
    margin: 0;
  }

  button {
    padding: 1em 2em;
    gap: 0.6em;
  }
}
